                _ _____ __                                       __
   ____ ___  __(_) __(_) /_  ____ _____ ____  _____  ____  ___  / /_
  / __ `/ / / / / /_/ / __ \/ __ `/ __ `/ _ \/ ___/ / __ \/ _ \/ __/
 / /_/ / /_/ / / __/ / /_/ / /_/ / /_/ /  __(__  ) / / / /  __/ /_
 \__, /\__,_/_/_/ /_/_.___/\__,_/\__, /\___/____(_)_/ /_/\___/\__/
/____/                          /____/

{{ansible_fqdn}} ({{ansible_default_ipv4.address}}) :: {{ansible_lsb.description}}

    "To err is human. To really fuck up takes root privs."
