base_url='http://www.guifi.net'
node='{{guifi_node}}'
ldap_main='ldap.guifi.net'
ldap_backup='ldap2.guifi.net'
realm='{{ansible_nodename}} guifi proxy server'
manager='webmaster'
language='Catalan'
cache_size='10240'
cache_mem='1024'
